@import '../css/destyle.css';

body {
    font-family: Lora, 'Times New Roman', Times, serif;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    & .header__logo svg:hover{
        color: red;
    }
    & .header__nav {

    }
    & .header__controls {

    }
}

.cover {
    width: 100%;
    height: 80vh;
    background-color: #fafafa;
    & button {
        padding: 8px 24px;
        background: #010101;
        color: #eee;
        border-radius: 8px;
    }
}
.logo {
    background-color: aqua;
    opacity: 0.5;
    fill: red;
}



